
*,
*::before,
*::after {
  box-sizing: border-box; 
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
}

img,
video,
iframe {
  max-width: 100%;
  height: auto;
}

#root {
  width: 100%;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
}

